WORKDIR=/var/lib/pkgtools-extras
CACHEDIR=/var/cache/packages
WGETFLAGS="--passive-ftp"

BASE_MIRROR=https://mirrors.slackware.com/slackware/slackware64-current/

MIRRORS['extra']=${BASE_MIRROR}extra/
MIRRORS['pasture']=${BASE_MIRROR}pasture/
MIRRORS['patches']=${BASE_MIRROR}patches/
MIRRORS['slackware64']=${BASE_MIRROR}slackware64/
MIRRORS['testing']=${BASE_MIRROR}testing/


MIRRORS['SLACKPKGPLUS_slackpkgplus']=http://slakfinder.org/slackpkg+15/
MIRRORS['SLACKPKGPLUS_restricted']=http://bear.alienbase.nl/mirrors/people/alien/restricted_sbrepos/current/x86_64/
MIRRORS['SLACKPKGPLUS_alienbob']=http://bear.alienbase.nl/mirrors/people/alien/sbrepos/current/x86_64/



#MIRRORS['SLACKPKGPLUS_multilib']=http://bear.alienbase.nl/mirrors/people/alien/multilib/14.2/

